<h2>
  > In the future, an LLM panicked and deleted the JSON object. Fearing society
  would collapse, a group of brave volunteers gave their lives to parse and
  stringify data.
</h2>

<h1 class="highlight">The human JSON service!</h1>
<h2 class="console">
  > Do you have what it takes?
  <a routerLink="game">enter the game!</a>
</h2>

Based on the Primeagen video
<a href="https://www.youtube.com/watch?v=TTjYjSEGHek"
  >JSON, I hardly know 'er</a
>
<a class="bottom" href="https://www.github.com/Isma1306">github page</a>
<p>Page made by <a class="bottom" href="https://www.icarrea.dev/">me!</a></p>
